body {
  background: linear-gradient(to right, #606c88, #3f4c6b);
  height: 100%;
}
.inner-container {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-container h1 {
  font-size: 60px;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
  opacity: .6;
}
form {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
form .form-control {
  border: 3px solid #C8D3D5;
}
form .btn-primary {
  margin: 0 10px;
  background-color: #A4B8C4;
  border: 0;
  color: #222;
}
form .btn-primary:hover {
  background-color: rgba(164,184,196, .4);
}
form .btn-danger {
  background-color: #0CCA4A;
  border: 0;
}
form .btn-danger:hover {
  background-color: rgba(12,202,74, .4);
}
#output {
  display: none;
  background: rgba(255,255,255, .3);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 60px;
}
#output h3 {
  line-height: 1.4;
}
